@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/* Загальні стилі */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.page {
  font-family: "DM Sans", sans-serif;
  background-color: #ffffff;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .page {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .page {
    font-size: 16px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-title,
.secondary-title {
  margin: 0;
  font-family: "Titan One", cursive;
  font-weight: 400;
  text-transform: uppercase;
}

.main-title {
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .main-title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.secondary-title {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.17;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .secondary-title {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .secondary-title {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.header {
  position: relative;
  background-color: teal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header-logo {
  width: 199px;
  height: 50px;
}

.header-nav {
  width: 250px;
  height: 502px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.26;
  font-style: normal;
  z-index: 4;
}

.header-nav.is-open {
  display: block;
}

.header-nav .link {
  color: #ffffff;
  text-decoration: none;
}

.header-nav .link.current {
  color: #d41443;
}

@media screen and (max-width: 1199px) {
  .header-nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e17992;
    padding-bottom: 60px;
    border: 1px solid #ececec;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
  }
}

.close {
  fill: #ffffff;
  display: none;
}

.btn-menu.is-open .close {
  display: block;
}

.burger {
  fill: #d41443;
}

.btn-menu.is-open .burger {
  display: none;
}

.btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: transparent;
  z-index: 4;
}

@media screen and (min-width: 768px) {
  .btn-menu {
    margin-left: auto;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-menu {
    display: none;
  }
}

.header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 159px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  border-width: 0;
  border-radius: 22px;
}

@media screen and (max-width: 767px) {
  .header-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-btn {
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .header-btn.menu {
    display: block;
  }
}

@media screen and (max-width: 1199px) {
  .header-nav .header-btn.menu {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 19px;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav .header-btn.menu {
    display: none;
  }
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 42px;
  padding-left: 21px;
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
}

@media screen and (min-width: 1200px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.icon-btn-menu {
  margin-left: 12px;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: #212121;
  max-width: 960px;
  padding: 15px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: teal;
  color: white;
  padding: 2px 6px;
  border-radius: 2px;
}
/*# sourceMappingURL=main.css.map */