<header>
    <a href="" class="header-logo"><img src="./images/logo.png" alt="Logo-company" /></a>
    <div class="header-nav" data-menu>
        <ul class="nav-list list">
            <li class="nav-item"><a href="">Home</a></li>
            <li class="nav-item"><a href="">About us</a></li>
            <li class="nav-item"><a href="">How it’s made?</a></li>
            <li class="nav-item"><a href="">Our products</a></li>
            <li class="nav-item"><a href="">Contact</a></li>
        </ul>
    </div>
    <button type="button" class="btn-menu" aria-expanded="false">
        <svg data-menu-button width="20" height="20" class="btn-menu-svg" aria-label="Переключатель основного меню">
            <use href="./images/sprite.svg#burger" class="icon-menu"></use>
            <use href="./images/sprite.svg#close" class="icon-close"></use>
        </svg>
    </button>
    <button class="header-btn">Buy now</button>
</header>