<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Заголовок страницы</title>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Titan+One&display=swap"
          rel="stylesheet">
        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css" />
      </head>
<body>
    
<!-- Секция Героя -->

<section class="hero">
    <h1 class="hero-tittle">ice cream <br> made with <br> passion</h1>
    <button class="hero-button">Products</button>
    <button class="hero-button">How it’s made?</button>
    <ul class="opportunities-list">
        <li class="opportunities-list-item"></li>
        <li class="opportunities-list-item"></li>
    </ul>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>


</section>

</body>
</html>