<section class="product">
    <div class="product-container">
        <h2><span class="secondary-titel">100% natural</span>
            <span class="main-titel">products</span></h2>
        <ul class="list product-lict">
            <li class="product-item">
                <img src="../images/product/ice-desktop-wepb1x.webp" alt="Фото морозива" width="335px" height="335px">
                <h3>ice cream</h3>
                <span></span>
                <span></span>
                <span></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore e </p>
                <svg>
                    <use href="../images/sprite.svg#icon-arrow-right"></use>
                </svg>
            </li>

        </ul>
    </div>
</section>