<section class="page-review container">
  <div class="page-review-wrapper">
    <img
      class="review-photo"
      srcset="
        ./images/vekker-images/kudryanegr.jpg    1x,
        ./images/vekker-images/kudryanegr@2x.jpg 2x
      "
      src="./images/vekker-images/kudryanegr.jpg"
      alt=""
    />
    <p class="review-comment">
      <span class="review-comment-span"
        >Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum
        primis in nibh vel risus.</span
      >
    </p>
  </div>
  <ul class="review-list">
    <li class="review-list-item"></li>
    <li class="review-list-item"></li>
    <li class="review-list-item"></li>
  </ul>
  <p class="review-location" class="preview-name">Emily, Los Angeles</p>
  <ul class="review-list-slider">
    <li class="review-list-item-slider">
      <svg class="review-svg" width="12px" height="12px">
        <use href="./images/vekker-images/sprite.svg#icon-home"></use>
      </svg>
    </li>
    <li class="review-list-item-slider"></li>
    <li class="review-list-item-slider"></li>
  </ul>
</section>
