<section class="review" id="about-us">
  <div class="container">
    <picture>
      <source srcset="./images/review/gallery-desktop-webp1x.webp 1x,
                        ./images/review/gallery-desktop-webp2x.webp 2x,
                        ./images/review/gallery-desktop.png 1x,
                        ./images/review/gallery-desktop2x.png 2x
            " type="image/webp" media="(min-width:1200px)" />
      <source srcset="./images/review/gallery-tablet-webp.webp 1x,
                        ./images/review/gallery-tablet-webp2x.webp 2x,
                        ./images/review/gallery-tablet.png 1x,
                        ./images/review/gallery-tablet2x.png 2x
            " type="image/webp" media="(min-width:768px)" />
      <source srcset="./images/review/gallery-mobile-webp.webp 1x,
                        ./images/review/gallery-mobile-webp2x.webp 2x,
                        ./images/review/gallery-mobile.png 1x,
                        ./images/review/gallery-mobile2x.png 2x
            " type="image/webp" media="(max-width:767px)" />
      <img class="gallery-foto" src="./images/review/gallery-mobile.png" alt="Фото Морозива" />
    </picture>
    <picture>
      <source srcset="./images/review/review-girl-desktop-webp.webp 1x,
                        ./images/review/review-girl-desktop-webp2x.webp 2x,
                        ./images/review/review-girl-desktop.png 1x,
                        ./images/review/review-girl-desktop2x.png 2x
            " type="image/webp" media="(min-width:1200px)" />
      <source srcset="./images/review/review-girl-tablet-webp.webp 1x,
                        ./images/review/review-girl-tablet-webp2x.webp 2x,
                        ./images/review/review-girl-tablet.png 1x,
                        ./images/review/review-girl-tablet2x.png 2x
            " type="image/webp" media="(min-width:768px)" />
      <source srcset="./images/review/review-girl-mobile-webp.webp 1x,
                        ./images/review/review-girl-mobile-webp2x.webp 2x,
                        ./images/review/review-girl-mobile.png 1x,
                        ./images/review/review-girl-mobile2x.png 2x
            " type="image/webp" media="(max-width:767px)" />
      <img class="review-foto" src="./images/review/review-girl-mobile.png" alt="Фото Морозива" />
    </picture>
    <div class="review-wrapper">
      <p class="review-text"> Nullam viverra consectetuer. Quisque cursus et,
        porttitor risus.Aliquam sem. In hendrerit nulla quam nunc, accumsan
        congue. Lorem ipsum primis in nibh vel risus.</p>
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
      <span class="line line4"></span>
      <span class="line line5"></span>
      <span class="line line6"></span>
      <span class="line line7"></span>
      <span class="line line8"></span>
    </div>
    <div>
      <span class="slide-points"></span>
      <span class="slide-points"></span>
      <span class="slide-points"></span>
    </div>
    <p class="review-name">Emily, Los Angeles</p>
    <div>
      <span class="slide-chek"></span>
      <span class="slide-chek"></span>
      <span class="slide-chek"></span>
    </div>
  </div>
  </div>
</section>