<form class=>
  <div class="slider middle">
    <div class="slides">
      <input type="radio" name="r" id="r1" />
      <input type="radio" name="r" id="r2" />
      <input type="radio" name="r" id="r3" />
      <p class="review-comment">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
        ipsum primis in nibh vel risus.
      </p>
      <ul class="review-list">
        <li class="review-list-item"></li>
        <li class="review-list-item"></li>
        <li class="review-list-item"></li>
      </ul>
      <div class="slide s1">
        <img src="./images/vekker-images/kudryanegr.jpg" alt="" /><span class="review-name">Emily, Los Angeles</span>
      </div>
      <div class="slide s2">
        <img src="./images/vekker-images/negr.jpg" alt="" /><span class="review-name">Vika Vorona, Jashkiv</span>
      </div>
      <div class="slide s3">
        <img src="./images/vekker-images/ochki.jpg" alt="" /><span class="review-name">Tolyaniya Kozlova,
          Vinterfell</span>
      </div>
    </div>
    <div class="navigation">
      <label for="r1" class="bar"><img class="nav-icon" src="./images/vekker-images/home.svg" alt="" /></label>
      <label for="r2" class="bar"><img class="nav-icon" src="./images/vekker-images/home.svg" alt="" /></label>
      <label for="r3" class="bar"><img class="nav-icon" src="./images/vekker-images/home.svg" alt="" /></label>
    </div>
  </div>
</form>