.header {
  position: relative;
  z-index: 5;
  background-color: transparent;
}
.header > .container {
  display: flex;
  align-items: center;
  @media screen and (min-width: 320px) {
    padding-top: 6px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 37px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 6px;
    padding-right: 75px;
  }
}
.header-logo {
  width: 199px;
  height: 50px;
}
.header-nav {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.26;
  z-index: 4;
  &.is-open {
    display: block;
    width: 250px;
    height: 502px;
  }
  .link {
    color: $main-text-color;
    padding-top: 13px;
    padding-bottom: 11px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: $accent-text-color;
    }
  }
  .link.current {
    color: $accent-text-color;
  }
  @media screen and (max-width: 1199px) {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 60px;
    background-color: #E17992;
    border: 1px solid #ECECEC;
  }
  @media screen and (min-width: 1200px) {
    position: static;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: auto;
    margin-right: auto;
  }
}
.close {
  fill: $main-text-color;
  display: none;
  .btn-menu.is-open & {
    display: block;
  }
}
.burger {
  fill: $accent-text-color;
  .btn-menu.is-open & {
    display: none;
  }
}
.btn-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  border: none;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  z-index: 4;
  @media screen and (min-width: 768px) {
    top: 50px;
    right: 224px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.btn-menu.is-open {
  @media screen and (min-width: 320px) {
    top: 20px;
    right: 28px;
  }
  @media screen and (min-width: 768px) {
    right: 30px;
  }
  @media screen and (max-width: 1199px) {
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    border: none;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    z-index: 4;
    top: 23px;
    right: 34px;
  }
}
.header-btn {
  margin-right: 34px;
  margin-left: 30px;
  width: 159px;
  height: 44px;
  justify-content: end;
  align-items: center;
  background-color: $contacts-background;
  color: $accent-text-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  border-width: 0;
  border-radius: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $hover-background;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
  }
}
.header-btn.menu {
  @media screen and (max-width: 767px) {
    display: block;
  }
  @media screen and (max-width: 1199px) {
    .header-nav & {
      display: flex;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
      margin-bottom: 19px;
    }
    .button-name {
      display: flex;
      justify-content: center;
    }
  }
  @media screen and (min-width: 1200px) {
    .header-nav & {
      display: none;
    }
  }
}
.nav-item {
  display: flex;
  align-items: center;
  @media screen and (max-width: 1199px) {
    width: 100%;
    padding-left: 21px;
    border-top: 1px solid #E18298;
    border-bottom: 1px solid #E18298;
    height: 42px;
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}
.nav-list {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.icon-btn-menu {
  margin-left: 12px;
}