.hero-container {
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (min-width: 320px) {
      width: 320px;
      margin: 0 auto;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
      padding-left: 34px;
      padding-right: 34px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
      padding-left: 46px;
      padding-right: 46px;
    }
  }

  .hero{
    position: absolute;
    top: 0;
    left: 50%;
    background-color: $hero-background-color;
    transform: translateX(-50%);

}

.hero-tittle{
    font-family: $title-font;
    font-weight: normal;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $white-title-color;
}

.tittle-part{
    font-family: $title-font;
    font-weight: normal;
    text-transform: uppercase;

    color: $main-title-color;
}

.hero-button-wrapper{
    display: flex;
}

.hero-button{
    width: 62.4px;
    height: 24px;

    font-family: $main-font;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.25;
    text-align: center;
    border-radius: 20px;
    border: none;
}

.btn-products{
    color: $main-background-color;
    background: $accent-background-color;
    margin-right: 8px;

    &:hover,
    &:focus{
        background: #C7133E;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.btn-how-its-made{
    color: $main-title-color;
    background: $main-background-color;

    &:hover,
    &:focus{
        background: $hover-background;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.hero-arrow{
    border-radius: 50%;
}

@media screen and (max-width: 767px){
    
  .hero{
    height: 502px;

    background-image: url(../images/hero-images/hero-ice-cream/ice-cream-mobile.png),
    url(../images/hero-images/hero-ellipse/ellipse-mobile.png);

        background-repeat: no-repeat;
        background-position: bottom 0 left 117px, top 83px left 36px;
        background-size: 171px 410px, 346 344;
        background-size: contain;
}

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero{
            background-image: url(../images/hero-images/hero-ice-cream/ice-cream-mobile@2x.png),
            url(../images/hero-images/hero-ellipse/ellipse-mobile@2x.png);
        }
    }

    .tittle-wrapper{
        width: 218px;
        height: 106px;
        margin-top: 193px;

    }

    .hero-tittle{
        font-size: 26px;
        margin-top: 0;
        margin-bottom: 19px;
    }

    .tittle-part{
        font-size: 48px;
        line-height: 96.5%;
    }

    .hero-opportunities-list{
        display: none;
    }

    .hero-description{
        display: none;
    }

    .hero-arrow{
        display: none;
    }
}

    @media screen and (min-width: 768px){
        .hero{
            height: 399px;

            background-image: url(../images/hero-images/hero-girl/girl-tablet.png),
            url(../images/hero-images/hero-milk/milk-tablet.png),
            url(../images/hero-images/hero-ice-cream/ice-cream-tablet.png),
            url(../images/hero-images/hero-circle/circle-tablet.png),
            url(../images/hero-images/hero-circle/circle-tablet.png),
            url(../images/hero-images/hero-ellipse/ellipse-tablet.png);
            background-repeat: no-repeat;
            background-size: 168px 133px, 124px 126px, 143px 336px, 16px 16px, 16px 16px, 324px 322px;
            background-position: left 566px bottom, left 34px bottom 28px, left 378px bottom, left 725px top 92px, left 725px top 149px, top 31px left 307px;
        }

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .hero{
                background-image: url(../images/hero-images/hero-girl/girl-tablet@2x.png),
                url(../images/hero-images/hero-milk/milk-tablet@2x.png),
                url(../images/hero-images/hero-ice-cream/ice-cream-tablet@2x.png),
                url(../images/hero-images/hero-circle/circle-tablet@2x.png),
                url(../images/hero-images/hero-circle/circle-tablet@2x.png),
                url(../images/hero-images/hero-ellipse/ellipse-tablet@2x.png);
            }
        }

    .hero-wrapper{
        display: flex;
        justify-content: space-between;
    }

    .hero-tittle{
        font-size: 22px;
        margin-top: 102px;
        margin-bottom: 20px;
    }

    .tittle-part{
        font-size: 34px;
        line-height: 90.5%;
    }

    .hero-opportunities-list{
        display: flex;
        flex-direction: column;

        margin-top: 94px;
    }

    .hero-opportunities-list-item{
        text-align: right;

        &:not(:last-child){
            margin-bottom: 13px;
        }
    }

    .hero-opportunities-list-item-figures{
        font-family: $title-font;
        font-weight: normal;
        font-size: 28px;
        line-height: 1.14;

        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: $accent-text-color;
    }

    .hero-opportunities-list-item-desc{
        font-family: $main-font;
        font-weight: normal;
        font-size: 8px;
        line-height: 1.25;

        color: $main-text-color;

        margin: 0;
    }

    .hero-description-wrapper{
        width: 114px;
        height: 48px;
        margin-left: 120px;
    }

    .hero-description{
        font-family: $main-font;
        font-weight: normal;
        font-size: 8px;
        line-height: 150%;

        color: $main-text-color;
        margin-top: 66px;
        margin-bottom: 7px;
    }

    .hero-arrow{
        width: 18px;
        height: 18px;
    }

}

@media screen and (min-width: 1200px){

    .hero-container {
          max-width: 1200px;
          padding-left: 115px;
          padding-right: 115px;
    }

    .hero{
        height: 665px;

        background-image: url(../images/hero-images/hero-girl/girl-desktop.png),
        url(../images/hero-images/hero-milk/milk-desktop.png),
        url(../images/hero-images/hero-ice-cream/ice-cream-desktop.png),
        url(../images/hero-images/hero-circle/circle-desktop.png),
        url(../images/hero-images/hero-circle/circle-desktop.png),
        url(../images/hero-images/hero-ellipse/ellipse-desktop.png);
        background-repeat: no-repeat;
        background-size: 293px 232px, 188px 191px, 236px 557px, 30px 30px, 30px 30px, 538px 538px;
        background-position: left 878px bottom, left 77px top 429px, left 594px bottom, left 1070px top 153px, left 1070px top 240px, left 475px top 52px;
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx){
        .hero{
            background-image: url(../images/hero-images/hero-girl/girl-desktop@2x.png),
            url(../images/hero-images/hero-milk/milk-desktop@2x.png),
            url(../images/hero-images/hero-ice-cream/ice-cream-desktop@2x.png),
            url(../images/hero-images/hero-circle/circle-desktop@2x.png),
            url(../images/hero-images/hero-circle/circle-desktop@2x.png),
            url(../images/hero-images/hero-ellipse/ellipse-desktop@2x.png);
        }
    }
    
    .hero-tittle{
        font-size: 38px;
        margin-top: 171px;
        margin-bottom: 25px;
    }

    .tittle-part{
        font-size: 58px;
        line-height: 90.5%;
    }

    .hero-button{
        width: 104px;
        height: 40px;

        font-size: 14px;
        line-height: 1.28;
    }

    .hero-opportunities-list{
        margin-top: 153px;
    }

    .hero-opportunities-list-item{
        text-align: right;

        &:not(:last-child){
            margin-bottom: 18px;
        }
    }

    .hero-opportunities-list-item-figures{
        font-size: 46px;
    }

    .hero-opportunities-list-item-desc{
        font-size: 14px;
        line-height: 1.28;
    }

    .hero-description-wrapper{
        width: 200px;
        height: 78px;
        margin-left: 180px;
        margin-top: 112px;
    }

    .hero-description{
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 20px;
    }

    .hero-arrow{
        width: 26px;
        height: 26px;
    }
}