.review {
  position: relative;
  padding-top: 154px;
  padding-bottom: 170px;
  @media screen and (min-width: 768px) {
    padding-top: 279px;
    padding-bottom: 197px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 382px;
    padding-bottom: 234px;
  }
  & .container {
    text-align: center;
  }
}
.gallery-foto {
  position: absolute;
  width: 320px;
  height: 122px;
  top: -48px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  @media screen and (min-width: 480px) {
    widows: 364px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    height: 264px;
    top: -106px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    height: 430px;
    top: -171px;
  }
}
.review-foto {
  display: inline-block;
  width: 85px;
  height: 85px;
  margin-bottom: 29px;
  @media screen and (min-width: 768px) {
    margin-bottom: 19px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }
}
.review-wrapper {
  position: relative;
  // width: 280px;
  height: 308px;
  margin-bottom: 21px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 768px) {
    width: 620px;
    height: 164px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    width: 926px;
    height: 138px;
    margin-bottom: 15px;
  }
}
.review-text {
  width: 157px;
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 12px;
  line-height: 2.55;
  color: $secondary-text-color;
  background-image: url(../images/review/zapyata.svg);
  background-repeat: no-repeat;
  background-size: 54px 40px;
  background-position: top 20px left 0px;
  @media screen and (min-width: 768px) {
    width: 500px;
    padding-top: 47px;
    padding-bottom: 34px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 2.16;
    background-position: top 30px left 10px;
  }
  @media screen and (min-width: 1200px) {
    width: 822px;
    padding-top: 47px;
    padding-bottom: 39px;
    padding-right: 35px;
    padding-left: 35px;
    font-size: 16px;
    line-height: 1.86;
  }
}
.line {
  position: absolute;
  display: block;
  width: 180px;
  border-bottom: 2px solid #e1e1e1;
  margin: 0;
  @media screen and (min-width: 768px) {
    width: 500px;
  }
  @media screen and (min-width: 1200px) {
    width: 813px;
  }
}
.line1 {
  top: 62px;
  @media screen and (min-width: 768px) {
    top: 76px;
  }
}
.line2 {
  top: 93px;
  @media screen and (min-width: 768px) {
    top: 106px;
  }
}
.line3 {
  top: 124px;
  @media screen and (min-width: 768px) {
    top: 136px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.line4 {
  top: 155px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.line5 {
  top: 186px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.line6 {
  top: 217px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.line7 {
  top: 248px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.line8 {
  top: 279px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.slide-points {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #d31342;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.review-name {
  font-size: 14px;
  line-height: 1.86;
  color: $secondary-text-color;
  margin-top: 18px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 35px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}
.slide-chek {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  cursor: pointer;
  &:hover,
  &:active {
    background-color: #ffff;
    border-radius: 0;
    background-image: url(../images/review/home.svg);
  }
  &:not(:last-child) {
    margin-right: 18px;
  }
}
